.app-header {
  background-color: rgba(226, 224, 224, .8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9990;
  height: 10vh;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.app-header>* {
  margin-right: 1rem;
}

.posts-layout {
  margin-top: 6vw;
  margin-left: 25vw;
  margin-right: 25vw;
}

.space-right> * {
  margin-right: 1rem !important;
}
