.app-header {
  background-color: rgb(226, 224, 224);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  max-height: 10vh;
  min-height: 10vh;
}

.app-header h1 {
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
}

.posts-layout {
  margin-left: 25vw;
  margin-right: 25vw;
}

.space-right> * {
  margin-right: 1rem !important;
}
