.post-reaction {
  display: flex;
}

.post-reaction > div {
  margin-right: 20px;
  width: fit-content !important;
}

.react-value {
  width: 5em;
  text-align: right;
  display: block !important;
}

.comment-box {
  margin-top: 20px;
}

.comment {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  width: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-post-reaction {
  background-color: bisque;
}