.post {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: whitesmoke;
  border-radius: 10px;
}

.caption {
  white-space: pre-line;
}

iframe {
  width: 100%;
  height: 60vh;
}