.app-header {
  background-color: coral;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.contents {
  margin-left: 20vw;
  margin-right: 20vw;
}

.contents > div {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: whitesmoke;
  border-radius: 10px;
}

.content {

}

.media {
  display: flex;
  justify-content:space-between;
}

iframe {
  border-radius: 10px;
}
